# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Jupyter notebooks
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Output
output/

# Params files
input/*.yaml
