# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
poke_early/
.poke_early/
ENV/

# Jupyter notebooks
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Output
output/"Figure_4 copy.ipynb" 
